@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
::-webkit-scrollbar {
    background: @white;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}
html
{ 
	text-shadow : 0px 1px 3px rgba(0,0,0,0.8);
	font-family: 'Droid Sans', sans-serif;
}
body
{
	margin: 45px 20px 200px 20px;
	background: #101012 url(../images/bg.png) repeat-x;
	color: #616363;
	font-size: 14px;
}
a
{
	color: #838686;
	font-size: 14px;
	text-decoration: none;
}
a:hover
{
	color: #1fb3ff;
	font-size: 14px;
	text-decoration: underline;
}
div#content
{
	width: 800px;
	margin: 0px auto 0px auto;
	text-align: center;
	clear: both;
}
div#header
{
	float: left;
	clear: both;
	width: 100%;
	text-align: center;
	padding: 0px;
	margin: 0px auto 0px auto;
}
#banner
{
	width: 80%;
	margin: -50px auto -75px auto;
	padding: 0px;
}
.header_name
{
	text-shadow: 1px -1px 0px #000,
	2px -2px 0px #000,
	3px -3px 0px #000,
	4px -4px 0px #000,
	5px -5px 0px #000,
	6px -6px 0px #000;
}
div#left_col
{
	float: left;
	clear: left;
	text-align: left;
	width: 388px;
	padding-right: 12px;
}
div#right_col
{
	float: right;
	clear: right;
	text-align: left;
	width: 388px;
	padding-left: 12px;
}
.header_name
{
	color: #dcdcfa;
	font-size: 84px;
}
.large_title
{
	color: #1fb3ff;
	font-size: 36px;
}
.title
{
	color: #fff;
	font-weight:bold;
	font-size: 14px;
}
.subtitle
{
	color: #b8b8b8;
	font-size: 14px;
}
.subtitle a
{
	-webkit-transition:all 0.35s ease;
	-moz-transition:all 0.35s ease;
	-o-transition:all 0.35s ease;
	transition:all 0.35s ease;
	color: #b8b8b8;
	font-size: 14px;
	text-decoration: none;
}
.subtitle a:hover
{
	color: #1fb3ff;
	font-size: 14px;
	text-decoration: underline;
}
.item
{
	margin: 30px 0 0 0;
	clear: both;
}
.item p
{
	-webkit-transition:color 0.5s ease;
	-moz-transition:color 0.5s ease;
	-o-transition:color 0.5s ease;
	transition:color 0.5s ease;
}
.item:hover p
{
	color: #b8b8b8;
}
#footer
{
	float: left;
	clear: both;
	width: 100%;
	height: 40px;
	margin-top: 40px;
	font-size: 10px;
}
#print_subtitle
{
	display: none;
}
.media a
{
	margin-right: 10px;
	font-size: 30px;
	line-height: 50px;
}
.media a:hover
{
	text-decoration: none;
}
.icon-facebook:hover
{
	color:#4c66a4;
}
.icon-twitter:hover
{
	color:#4099FF;
}
.icon-github:hover
{
	color:#000;
}
nav
{
	margin: auto;
	display: inline;
	position:absolute;
}
#en
{
	width: 45px;
	height: 25px;
	display: inline-block;
	background: url(../images/flag-sprite-small.png) -135px 0px;
}
#fr
{
	width: 45px;
	height: 25px;
	display: inline-block;
	background: url(../images/flag-sprite-small.png) -45px 0px;
}
#en:hover
{
	background: url(../images/flag-sprite-small.png) -90px 0px;
}
#fr:hover
{
	background: url(../images/flag-sprite-small.png) 0px 0px;
}

#pdf_logo
{
	width: 15px;
	height: 15px;
	margin-left: 10px;
}