/* Portfolio Main Styles */
@import url('fonts.css');

/* Set it up! */
body
{
	margin: 45px 20px 20px 20px;
	background-color: #ededed;
	color: #616363;
	font-family: "HelveticaNeue";
	font-size: 14px;
}
a
{
	color: #472816;
	font-family: "HelveticaNeue";
	font-size: 14px;
	text-decoration: none;
}
a:hover
{
	color: #653417;
	font-family: "HelveticaNeue";
	font-size: 14px;
	text-decoration: underline;
}
div#content
{
	width: 800px;
	margin: 0px auto 0px auto;
	text-align: center;
	clear: both;
}
div#header
{
	float: left;
	clear: both;
	width: 100%;
	text-align: center;
	padding: 0px auto 0px auto;
}
.header_name
{
	text-shadow: 10px -10px 15px #606060;
}
div#left_col
{
	float: left;
	clear: left;
	text-align: left;
	width: 388px;
	padding-right: 12px;
}
div#right_col
{
	float: right;
	clear: right;
	text-align: right;
	width: 388px;
	padding-left: 12px;
}
.header_name
{
	color: #111;
	font-family: "HelveticaNeueLight";
	font-size: 84px;
}
.large_title
{
	color: #a33b00;
	font-family: "HelveticaNeueLight";
	font-size: 36px;
}
.title
{
	color: #111;
	font-family: "HelveticaNeueBold";
	font-size: 14px;
}
.subtitle
{
	color: #444;
	font-family: "HelveticaNeue";
	font-size: 14px;
}
.subtitle a
{
	-webkit-transition:all 0.35s ease;
	-moz-transition:all 0.35s ease;
	-o-transition:all 0.35s ease;
	transition:all 0.35s ease;
	color: #472816;
	font-family: "HelveticaNeue";
	font-size: 14px;
	text-decoration: none;
}
.subtitle a:hover
{
	color: #653417;
	font-family: "HelveticaNeue";
	font-size: 14px;
	text-decoration: underline;
}
.item
{
	margin: 30px 0 0 0;
	clear: both;
}
.item p
{
	-webkit-transition:color 0.5s ease;
	-moz-transition:color 0.5s ease;
	-o-transition:color 0.5s ease;
	transition:color 0.5s ease;
}
.item:hover p
{
	color: #333;
}
#footer
{
	float: left;
	clear: both;
	width: 100%;
	height: 40px;
	margin-bottom: 40px;
}