html
{ 
	text-shadow : 0px 1px 3px rgba(0,0,0,0.8);
	font-family: 'Droid Sans', sans-serif;
}
#flag
{
	display: inline-block;
	padding: 0px auto 0px auto;
	margin: 45px auto;
}
#en
{
	width: 380px;
	height:200px;
	display: inline-block;
	background: url('../images/flag-sprite.png') -1140px 0px;
}
#fr
{
	width: 380px;
	height:200px;
	display: inline-block;
	background: url('../images/flag-sprite.png') -380px 0px;
}
#en:hover
{
	background: url('../images/flag-sprite.png') -760px 0px;
}
#fr:hover
{
	background: url('../images/flag-sprite.png') 0px 0px;
}
body
{
	margin: 45px 20px 200px 20px;
	background: #101012 url(../images/bg.png) repeat-x;
	color: #616363;
}
div#content
{
	width: 800px;
	margin: 0px auto 0px auto;
	text-align: center;
	clear: both;
}
div#header
{
	float: left;
	clear: both;
	width: 100%;
	text-align: center;
	padding: 0px auto 0px auto;
	margin: 0px auto 0px auto;
}
#banner
{
	width: 80%;
	margin: -50px auto -75px auto;
	padding: 0px auto 0px auto;
}