.coordinates
{
	font-weight: bold;
	color: @gray;
	a 
	{
		padding-top: 10px;
		&:hover
		{
			color:#fff;
			text-decoration: #fff;
		}
	}
	[data-icon]:before
	{
		font-size: 25px;
		margin-left: 2px;
		margin-right: 2px;
	}
	&.social
	{
		a
		{
			color: @gray;
			&:hover
			{
				background-color: #fff;
			}
			&.twitter
			{
				&:hover
				{
					color:@twitter;
				}
			}
			&.github
			{
				&:hover
				{
					color:@github;
				}
			}
			&.facebook
			{
				&:hover
				{
					color:@facebook;
				}
			}
			&.google
			{
				&:hover
				{
					color:@google;
				}
			}	
			&.skype
			{
				&:hover
				{
					color: #007fff;
				}
			}
		}
		[data-icon]:before
		{
			font-size: 50px;
		}
	}

}
.mail a
{
	color: @gray;
	&:hover
	{
		color: #007fff;
		background-color: #fff;
	}
}